{% extends 'base.html' %}
{% block content %}

<!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">About Us...</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Welcome To Sajilo Shopping...</p>
                </div>
            </div>
        </header>

        <div class="container">
        	<div class="row">
        		<center>
        			<div class="col-8">
        				<br/><br/>
<p align="justify">
    
    Welcome to Sajilo Shopping Center!
    <br/><br/>
    I’m Nitesh Paudel, the founder of this platform. Hailing from the serene hills of Taplejung, Nepal, I’ve always been inspired by the idea of creating something meaningful in the software sector. Currently, I’m pursuing my passion for technology as a 3rd-year student in Electronics, Communication, and Information Engineering at Purwanchal Engineering Campus, Dharan.
    
    This website is more than just a platform for shopping—it’s a step toward my dream of combining innovation and convenience for people like you. I aim to bring high-quality products and exceptional service, ensuring a seamless experience for our customers.
    
    If you have any questions, suggestions, or just want to say hi, feel free to reach out to me directly at niteshpaudel2004@gmail.com. I’d love to hear from you!
    
    Thank you for being a part of my journey. Together, let’s build something amazing. 😊
        			</div>
        		</center>
        	</div>
        </div>

{% endblock %}